*{
  box-sizing: border-box;
}
ul,li{margin:0;padding:0}
html{
  flex-flow: column;
  min-height: 100%;
}
html,body,section{
  flex:1;
  display: flex;
}
body{
  margin:10%;
  background: lightcyan
}
section{
  max-width: 960px;
  background: lightblue;
  border-radius: 1%;
  flex-flow: column nowrap;
}
section main{
  display: flex;
  flex:3;
}
section .side{
  flex:1;
  display: flex;
  justify-content: flex-end;
  padding:1em;
}

section .side button{
  background: cornflowerblue;
  border:none;
  padding:.6em;
  margin: .2em;
  font-size: 1.5em;
  color:lightcyan;
  cursor: pointer;
  outline: none;
}


section .side button.disabled{
  color: cadetblue
}
section .side button:focus{
  background: blueviolet
}

section main ul {
  display: flex;
  flex-wrap: wrap;
}
section main ul li{
  display: flex;
  flex:1 0 44%;
}
section main ul li div{
  padding:5px;
}
img{
  max-width: 100%;
}

.message {
  flex:1;
  padding:.1em;
  border-radius: 1%;
  background: seashell;
}
.message::before{
  content:'Tips: ';
}

.fetch::before{
  content:'(fetch)';
  font-size: .6em;
}
.ajax::before{
  content:'(xhr)';
  font-size: .6em;
}

